<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:minWidth="25px"
    android:minHeight="25px"
    android:padding="20dp">
    <android.support.v7.widget.CardView
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/cardView1">
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/linearLayout1"
            android:padding="20dp">
            <TextView
                android:text="Pregunta"
                android:textAppearance="?android:attr/textAppearanceLarge"
                android:id="@+id/textViewSurveyNumber"
                android:layout_width="match_parent"
                android:layout_height="wrap_content" />
            <TextView
                android:text="¿Es esto el mundo real o solo una fantasia?"
                android:textAppearance="?android:attr/textAppearanceMedium"
                android:id="@+id/textViewSurveyQuestion"
                android:layout_width="match_parent"
                android:layout_height="wrap_content" />
            <LinearLayout
                android:orientation="horizontal"
                android:id="@+id/linearLayout2"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:paddingTop="15dp"
                android:minWidth="25px"
                android:minHeight="25px">
                <RadioGroup
                    android:layout_width="wrap_content"
                    android:layout_height="match_parent"
                    android:id="@+id/radioGroupAnswers">
                    <RadioButton
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:checked="false"
                        android:text="Si"
                        android:id="@+id/radioButtonYesOption" />
                    <RadioButton
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:text="No"
                        android:id="@+id/radioButtonNoOption" />
                </RadioGroup>
            </LinearLayout>
            <EditText
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/editTextMore"
                android:visibility="invisible" />
            <Button
                android:text="Siguiente"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/buttonNextQuestion"
                android:enabled="false" />
        </LinearLayout>
    </android.support.v7.widget.CardView>
</LinearLayout>